<div class="container">
    <ul class="nav nav-pills nav-justified">
        <!-- steps coming from cdkStepper -->
        <li class="nav-item" *ngFor="let step of steps; let i = index;">
            <button 
            (click)="onClick(i)"
            [class.active]="selectedIndex === i"
            class="nav-link py-3 text-uppercase font-weight-bold btn-block">
            {{step.label}}: {{step.completed}}
        </button>  
        </li>
    </ul>
    <div>
        <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
</div>
