<div class="container">
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">© <a target="_blank" href="https://myview.rahulnivi.net"><strong>My View</strong></a></small>
      </div>
      <div class="col-6 col-md">
        <h5>Server Side Technologies</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">.Net Core</a></li>
          <li><a class="text-muted" href="#">Generic Repository Patterns</a></li>
          <li><a class="text-muted" href="#">Unit of Work Pattern</a></li>
          <li><a class="text-muted" href="#">Specification Pattern</a></li>
          <li><a class="text-muted" href="#">Swagger</a></li>
          <li><a class="text-muted" href="#">Stripe Implementation</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Client Side Technologies</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Angular 9</a></li>
          <li><a class="text-muted" href="#">Bootstrap 4</a></li>
          <li><a class="text-muted" href="#">ngx-bootstrap</a></li>
          <li><a class="text-muted" href="#">Font Awesome</a></li>
          <li><a class="text-muted" href="#">RXJS</a></li>
          <li><a class="text-muted" href="#">Design Components</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Rahul Sahay</a></li>
          <li><a class="text-muted" href="#">Follow Me</a></li>
          <li><a class="text-muted" href="#">Download Code</a></li>
          <li><a class="text-muted fa fa-github" href="#"></a> Give me a star</li>
        </ul>
      </div>
    </div>
  </footer>
</div>