<div class="container">
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-md">
        <h5>Warning and Disclaimer</h5>
        <ul class="list-unstyled text-small justify-center">
         <p>Every effort applied to make this project complete and accurate to the topic, but no warranty is implied. Any implementation in this project are MY OWN and also borrowed from best practices segment. ALL content presented AS-IS, for learning purposes only. Author will not be liable for any loss or damages arising from the information presented in this project.
           This also involves stripe implementation. Just use <strong>test card</strong> as explained in readme not actual card. Incase, if any amount get deducted from actual card, author won't be responsible for any loss or damage.
         </p>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Server Side Technologies</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">.Net Core</a></li>
          <li><a class="text-muted" href="#">Generic Repository Patterns</a></li>
          <li><a class="text-muted" href="#">Unit of Work Pattern</a></li>
          <li><a class="text-muted" href="#">Specification Pattern</a></li>
          <li><a class="text-muted" href="#">Redis Cache</a></li>
          <li><a class="text-muted" href="#">Swagger</a></li>
          <li><a class="text-muted" href="#">Stripe Implementation</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Client Side Technologies</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Angular 9</a></li>
          <li><a class="text-muted" href="#">Bootstrap 4</a></li>
          <li><a class="text-muted" href="#">ngx-bootstrap</a></li>
          <li><a class="text-muted" href="#">Font Awesome</a></li>
          <li><a class="text-muted" href="#">Lazy Loading</a></li>
          <li><a class="text-muted" href="#">Caching</a></li>
          <li><a class="text-muted" href="#">RXJS</a></li>
          <li><a class="text-muted" href="#">Design Components</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://myview.rahulnivi.net" target="_blank">Rahul Sahay</a></li>
          <li><a class="text-muted" href="https://twitter.com/rahulsahay19/" target="_blank"><i class="fa fa-twitter"> For Latest Updates</i></a></li>
          <li><a class="text-muted fa fa-github" href="https://github.com/rahulsahay19/eCommerce-App" target="_blank"> Give me a star</a> </li>
          <li><a class="text-muted" href="https://myview.rahulnivi.net" target="_blank">Image Credits goes to individual brands used in this site</a></li>
          <li><a class="text-muted" href="https://myview.rahulnivi.net" target="_blank">Rahul Sahay</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>