<div class="container mt-2">
    <div *ngIf="(basket$ | async) === null || (basket$ | async).items.length === 0" >
        <p> There are no items in your basket! Add few.</p>
    </div>
    
    <div *ngIf="(basket$ | async) !== null" >
    <div *ngIf="(basket$ | async) as basket">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                     <app-basket-summary
                        (decrement)="decrementItem($event)"
                        (increment)="incrementItem($event)"
                        (remove)="removeBasketItem($event)"
                        [items]="(basket$ |async).items"
                     ></app-basket-summary>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-6">
                        <app-order-totals
                        *ngIf="(basketTotals$ | async)"
                        [shippingPrice]="(basketTotals$ | async).shipping"
                        [subtotal]="(basketTotals$ | async).subtotal"
                        [total]="(basketTotals$ |async).total"></app-order-totals>
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block"><strong>Checkout</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

