.list-group-item {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;

    &:focus {
        outline: none;
    }

    &:active {
        border-radius: 10px;
    }

    &:not(.active):hover {
        color: #fff;
        background-color: #2780E3;
        border-radius: 10px;
    }
}